<section data-section-id="{{ section.id }}" data-section-type="activate-account">
  <div class="container">
    {%- form 'activate_customer_password', name: 'activate', class: 'form form--main', id: 'activate_customer_password' -%}
      <header class="form__header">
        <h1 class="form__title heading h1">{{ 'customer.activate_account.activate_account' | t }}</h1>
        <p class="form__legend">{{ 'customer.activate_account.description' | t }}</p>
      </header>

      {%- if form.errors -%}
        <div class="alert alert--error">
          <ul class="alert__error-list" role="list">
            {%- for field in form.errors -%}
              {%- if field == 'form' -%}
                <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
              {%- else -%}
                <li class="alert__error-item"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="form__input-wrapper form__input-wrapper--labelled">
        <input type="password" id="customer[password]" class="form__field form__field--text" name="customer[password]" autocomplete="new-password" required="required">
        <label for="customer[password]" class="form__floating-label">{{ 'customer.activate_account.password' | t }}</label>
      </div>

      <div class="form__input-wrapper form__input-wrapper--labelled">
        <input type="password" id="customer[password_confirmation]" class="form__field form__field--text" name="customer[password_confirmation]" autocomplete="new-password" required="required">
        <label for="customer[password_confirmation]" class="form__floating-label">{{ 'customer.activate_account.password_confirmation' | t }}</label>
      </div>

      <div class="form__submit">
        <div class="button-group button-group--fit">
          <button type="submit" class="button button--primary">{{ 'customer.activate_account.submit' | t }}</button>
          <button type="submit" class="button button--secondary" name="decline">{{ 'customer.activate_account.decline' | t }}</button>
        </div>
      </div>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Activate account"
}
{% endschema %}