<style>
  :root {
    --header-is-sticky: 1;
  }

  #shopify-section-{{ section.id }} {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  {%- if section.settings.logo -%}
    .header__logo-image {
      max-width: {{ section.settings.mobile_logo_max_width }}px;
    }

    @media screen and (min-width: 641px) {
      .header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    }
  {%- endif -%}
</style>

<section data-section-id="{{ section.id }}" data-section-type="password">
  <header id="header" class="header" role="banner">
    <div class="container">
      <div class="header__inner {% if request.page_type == 'gift_card' %}header__inner--centered{% endif %}">
        {%- comment -%}
        --------------------------------------------------------------------------------------
        LOGO COMPONENT
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        <h1 class="header__logo">
          <a href="{{ shop.url }}" class="header__logo-link">
            {%- if section.settings.logo != blank -%}
              {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
              <img class="header__logo-image"
                   src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
            {%- else -%}
              <span class="header__logo-text">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </h1>

        {%- if request.page_type == 'password' -%}
          {%- comment -%}
          --------------------------------------------------------------------------------------
          HEADER ACTIONS
          --------------------------------------------------------------------------------------
          {%- endcomment -%}

          <div class="header__action-list">
            <div class="header__action-item header__action-item--password">
              <div class="header__action-item-content">
                {%- assign form_has_errors = false -%}

                {%- form 'storefront_password', name: 'password', class: 'form' -%}
                  {%- if form.errors -%}
                    {%- assign form_has_errors = true -%}
                  {%- endif -%}
                {%- endform -%}

                <button class="header__action-item-link header__action-item-link--small" aria-controls="password-popover" aria-expanded="{% if form_has_errors %}true{% else %}false{% endif %}" data-action="toggle-popover">
                  {% render 'icon', icon: 'lock-2' %} <span class="hidden-phone">{{ 'general.password.enter_password' | t }}</span>
                </button>

                <div id="password-popover" class="popover popover--large popover--password" aria-hidden="{% if form_has_errors %}false{% else %}true{% endif %}">
                  {%- render 'icon', icon: 'nav-triangle-borderless' -%}

                  <div class="popover__panel-list">
                  <div id="header-login-panel" class="popover__panel popover__panel--default is-selected">
                    <div class="popover__inner">
                      {%- form 'storefront_password', name: 'password', class: 'form' -%}
                        <header class="popover__header">
                          <h1 class="popover__title heading">{{ 'general.password.enter_password' | t }}</h1>
                        </header>

                        {%- if form.errors -%}
                          <p class="alert alert--error">{{ form.errors.messages['form'] }}</p>
                        {%- endif -%}

                        <div class="form__input-wrapper form__input-wrapper--labelled">
                          <input type="password" id="password" class="form__field form__field--text" name="password" required="required">
                          <label for="password" class="form__floating-label">{{ 'general.password.password_input' | t }}</label>
                        </div>

                        <button type="submit" class="form__submit button button--primary button--full">{{ 'general.password.password_submit' | t }}</button>
                      {%- endform -%}
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </header>

  <div class="container">
    <div class="password">
      <div class="password__content">
        <div class="container container--extra-narrow">
          {%- if section.settings.heading != blank -%}
            <h2 class="heading h1">{{ section.settings.heading | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.text != blank -%}
            <div class="rte">
              {{ section.settings.text }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_newsletter_signup -%}
            <div class="newsletter">
              {%- form 'customer', id: newsletter_id, class: 'form newsletter__form' -%}
                {%- if form.posted_successfully? -%}
                  <p class="alert alert--success alert--center">{{ 'general.password.newsletter_success' | t }}</p>

                  {%- if form.context == 'announcement-bar' -%}
                    {%- assign open_announcement = true -%}
                  {%- endif -%}
                {%- else -%}
                  {%- if form.errors -%}
                    <div class="alert alert--error">
                      <ul class="alert__error-list" role="list">
                        {%- for field in form.errors -%}
                          {%- if field == 'form' -%}
                            <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
                          {%- else -%}
                            <li class="alert__error-item">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}

                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="hidden" name="contact[context]" value="announcement-bar">

                  <div class="form__input-row">
                    <div class="form__input-wrapper form__input-wrapper--labelled">
                      <input type="email" id="contact[email]" name="contact[email]" class="form__field form__field--text" autofocus required>
                      <label for="contact[email]" class="form__floating-label">{{ 'general.password.newsletter_input' | t }}</label>
                    </div>

                    <button type="submit" class="form__submit button button--primary">{{ 'general.password.newsletter_submit' | t }}</button>
                  </div>
                {%- endif -%}
              {%- endform -%}

              {%- if section.settings.newsletter_text != blank -%}
                <div class="newsletter__text rte">
                  {{ section.settings.newsletter_text }}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      {%- capture social_media -%}
        {%- render 'social-media' -%}
      {%- endcapture -%}

      <footer class="password__footer {% if section.settings.show_social_media and social_media != blank %}password__footer--with-social{% endif %}">
        <div class="password__footer-info">
          {%- capture shopify_link -%}
            <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
              {%- render 'icon', icon: 'shopify-logo' -%}
            </a>
          {%- endcapture -%}

          <span class="password__powered-by">{{ 'general.password.powered_by_html' | t: shopify_link: shopify_link }}</span>
          <span class="password__admin-link">{{ 'general.password.login_title' | t }} <a href="/admin" class="link link--accented">{{ 'general.password.login_link' | t }}</a></span>
        </div>

        {%- if section.settings.show_social_media and social_media != blank -%}
          <div class="password__footer-social">
            <span class="password__social-text hidden-phone">{{- 'general.password.follow_us' | t -}}</span>
            {{- social_media -}}
          </div>
        {%- endif -%}
      </footer>
    </div>
  </div>
</section>

<script>
  document.documentElement.style.setProperty('--header-height', document.getElementById('header').clientHeight + 'px');
</script>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo image width",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "Make sure to have properly configured your social media in the theme settings.",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>A content describing what your store will sell.</p>"
    },
    {
      "type": "header",
      "content": "Newsletter signup"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter_signup",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing.</p>"
    }
  ]
}
{% endschema %}