{%- assign shipping_estimator_block = section.blocks | where: 'type', 'shipping_estimator' | first -%}
{%- assign variant_selector_block = section.blocks | where: 'type', 'variant_selector' | first -%}
{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- capture section_settings -%}
{
  "showShippingEstimator": {% if template == 'product.quick-view' or product.available == false or shipping_estimator_block == blank %}false{% else %}true{% endif %},
  "showQuantitySelector": {{ variant_selector_block.settings.show_quantity_selector | json }},
  "showPaymentButton": {% if product.template_suffix == 'pre-order' %}false{% else %}{{ buy_buttons_block.settings.show_payment_button | json }}{% endif %},
  "showInventoryQuantity": {% if product.template_suffix != 'pre-order' %}{{ variant_selector_block.settings.show_inventory_quantity | json }}{% else %}false{% endif %},
  "lowInventoryThreshold": {{ variant_selector_block.settings.low_inventory_threshold | json }},
  "galleryTransitionEffect": {{ section.settings.carousel_effect | json }},
  "enableImageZoom": {% if template == 'product.quick-view' %}false{% else %}{{ section.settings.enable_image_zoom | json }}{% endif %},
  "zoomEffect": {{ section.settings.zoom_effect | json }},
  "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
  "productOptions": {{ product.options | json | escape }},
  "enableHistoryState": {% if template == 'product.quick-view' %}false{% else %}true{% endif %},
  "infoOverflowScroll": {% if template == 'product.quick-view' %}false{% else %}true{% endif %},
  "isQuickView": {% if template == 'product.quick-view' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="product" data-section-settings='{{ section_settings }}'>
  {%- if template != 'product.quick-view' -%}
    <div class="container container--flush">
      <div class="page__sub-header">
        <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
          <ol class="breadcrumb__list" role="list">
            <li class="breadcrumb__item">
              <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
            </li>

            <li class="breadcrumb__item">
              {%- if collection -%}
                <a class="breadcrumb__link link" href="{{ collection.url }}">{{ collection.title }}</a> {%- render 'icon', icon: 'arrow-right' -%}
              {%- else -%}
                <a class="breadcrumb__link link" href="{{ routes.all_products_collection_url }}">{{- 'collection.general.all_products' | t -}}</a> {%- render 'icon', icon: 'arrow-right' -%}
              {%- endif -%}
            </li>

            <li class="breadcrumb__item">
              <span class="breadcrumb__link" aria-current="page">{{ product.title | truncate: 40 }}</span>
            </li>
          </ol>
        </nav>

        {%- if collection.previous_product or collection.next_product -%}
          <div class="page__navigation">
            {%- if collection.previous_product -%}
              <span class="page__navigation-item page__navigation-item--prev">
                <a href="{{ collection.previous_product.url }}" class="link" rel="prev">{%- render 'icon', icon: 'arrow-left' -%} {{- 'product.general.previous_product' | t -}}</a>
              </span>
            {%- endif -%}

            {%- if collection.next_product -%}
              <span class="page__navigation-item page__navigation-item--next">
                <a href="{{ collection.next_product.url }}" class="link" rel="next">{{- 'product.general.next_product' | t -}} {%- render 'icon', icon: 'arrow-right' -%}</a>
              </span>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>

      <div class="product-block-list product-block-list--{{ section.settings.image_size }}">
        <div class="product-block-list__wrapper">
          {%- if product.media.size > 0 -%}
            <div class="product-block-list__item product-block-list__item--gallery">
              {% render 'product-gallery' %}
            </div>
          {%- endif -%}

          <div class="product-block-list__item product-block-list__item--info">
            {%- render 'product-info' -%}
          </div>

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- comment -%}
              --------------------------------------------------------------------------------------
              DESCRIPTION
              --------------------------------------------------------------------------------------
              {%- endcomment -%}

              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="product-block-list__item product-block-list__item--description" {{ block.shopify_attributes }}>
                    <div class="card">
                      {%- if block.settings.display_mode == 'collapse' -%}
                        <button class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false" aria-controls="block-{{ section.id }}-{{ block.id }}">
                          <span class="card__title heading h3">{{ 'product.general.description' | t }}</span>
                          <span class="plus-button plus-button--large"></span>
                        </button>

                        <div id="block-{{ section.id }}-{{ block.id }}" class="card__collapsible">
                          <div class="card__collapsible-content">
                            <div class="rte text--pull">
                              {{ product.description | remove: 'data-section-type="product"' }}
                            </div>
                          </div>
                        </div>
                      {%- else -%}
                        <div class="card__header">
                          <h2 class="card__title heading h3">{{ 'product.general.description' | t }}</h2>
                        </div>

                        <div class="card__section {% if block.settings.display_mode == 'view_more' %}expandable-content{% endif %}" {% if block.settings.display_mode == 'view_more' %}aria-expanded="false"{% endif %}>
                          <div class="rte text--pull">
                            {{ product.description | remove: 'data-section-type="product"' }}
                          </div>

                          {%- if block.settings.display_mode == 'view_more' -%}
                            <button class="expandable-content__toggle">
                              <span class="expandable-content__toggle-icon"></span>
                              <span class="expandable-content__toggle-text" data-view-more="{{ 'product.general.view_more' | t | escape }}" data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
                            </button>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'content' -%}
                {%- comment -%}
                --------------------------------------------------------------------------------------
                CONTENT (we first check the page and then inline content)
                --------------------------------------------------------------------------------------
                {%- endcomment -%}

                {%- assign page = block.settings.page -%}

                {%- if page != blank -%}
                  {%- assign title = page.title -%}
                  {%- assign content = page.content -%}
                {%- else -%}
                  {%- assign title = block.settings.title -%}
                  {%- assign content = block.settings.content -%}
                {%- endif -%}

                {%- if title != blank and content != blank -%}
                  <div class="product-block-list__item product-block-list__item--content" {{ block.shopify_attributes }}>
                    <div class="card">
                      {%- if block.settings.display_mode == 'collapse' -%}
                        <button class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false" aria-controls="block-{{ section.id }}-{{ block.id }}">
                          <span class="card__title heading h3">{{ title }}</span>
                          <span class="plus-button plus-button--large"></span>
                        </button>

                        <div id="block-{{ section.id }}-{{ block.id }}" class="card__collapsible">
                          <div class="card__collapsible-content">
                            <div class="rte text--pull">
                              {{ content }}
                            </div>
                          </div>
                        </div>
                      {%- else -%}
                        <div class="card__header">
                          <h2 class="card__title heading h3">{{ title }}</h2>
                        </div>

                        <div class="card__section {% if block.settings.display_mode == 'view_more' %}expandable-content{% endif %}" {% if block.settings.display_mode == 'view_more' %}aria-expanded="false"{% endif %}>
                          <div class="rte text--pull">
                            {{ content }}
                          </div>

                          {%- if block.settings.display_mode == 'view_more' -%}
                            <button class="expandable-content__toggle">
                              <span class="expandable-content__toggle-icon"></span>
                              <span class="expandable-content__toggle-text" data-view-more="{{ 'product.general.view_more' | t | escape }}" data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
                            </button>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}

            {%- when 'liquid' -%}
              {%- comment -%}
              --------------------------------------------------------------------------------------
              LIQUID COE
              --------------------------------------------------------------------------------------
              {%- endcomment -%}

              {%- assign title = block.settings.title -%}
              {%- assign liquid = block.settings.liquid -%}

              {%- if title != blank and liquid != blank -%}
                <div class="product-block-list__item product-block-list__item--content" {{ block.shopify_attributes }}>
                  <div class="card">
                    {%- if block.settings.display_mode == 'collapse' -%}
                      <button class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false" aria-controls="block-{{ section.id }}-{{ block.id }}">
                        <span class="card__title heading h3">{{ title }}</span>
                        <span class="plus-button plus-button--large"></span>
                      </button>

                      <div id="block-{{ section.id }}-{{ block.id }}" class="card__collapsible">
                        <div class="card__collapsible-content">
                          <div class="rte text--pull">
                            {{ liquid }}
                          </div>
                        </div>
                      </div>
                    {%- else -%}
                      <div class="card__header">
                        <h2 class="card__title heading h3">{{ title }}</h2>
                      </div>

                      <div class="card__section {% if block.settings.display_mode == 'view_more' %}expandable-content{% endif %}" {% if block.settings.display_mode == 'view_more' %}aria-expanded="false"{% endif %}>
                        <div class="rte text--pull">
                          {{ liquid }}
                        </div>

                        {%- if block.settings.display_mode == 'view_more' -%}
                          <button class="expandable-content__toggle">
                            <span class="expandable-content__toggle-icon"></span>
                            <span class="expandable-content__toggle-text" data-view-more="{{ 'product.general.view_more' | t | escape }}" data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
                          </button>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}

              {%- comment -%}
              --------------------------------------------------------------------------------------
              REVIEWS
              --------------------------------------------------------------------------------------
              {%- endcomment -%}
              {%- when 'reviews' -%}
                <div class="product-block-list__item product-block-list__item--reviews" {{ block.shopify_attributes }}>
                  <span id="product-reviews" class="anchor"></span>

                  <div class="card">
                    <div class="card__section">
                      {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
                      <div id="shopify-product-reviews" class="spr-reviews {% if reviews_count > 0 %}spr-reviews--has-reviews{% endif %}" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
                    </div>
                  </div>
                </div>

              {%- comment -%}
              --------------------------------------------------------------------------------------
              TRUST BADGE
              --------------------------------------------------------------------------------------
              {%- endcomment -%}

              {%- when 'trust' -%}
                {%- if block.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
                  {%- assign show_payment_icons = true -%}
                {%- else -%}
                  {%- assign show_payment_icons = false -%}
                {%- endif -%}

                {%- if block.settings.custom_security_badge or show_payment_icons -%}
                  <div class="product-block-list__item product-block-list__item--trust">
                    <div class="card">
                      <div class="card__header card__header--flex">
                        <h2 class="card__title heading h3">{{ block.settings.trust_title | escape }}</h2>

                        {%- render 'icon', icon: 'lock', width: 22, height: 24 -%}
                      </div>

                      <div class="card__section">
                        {%- if show_payment_icons -%}
                          {%- if block.settings.custom_security_badge -%}
                            <p class="card__subtitle heading h6">{{ 'product.general.payment' | t }}</p>
                          {%- endif -%}

                          <div class="payment-list">
                            {% for type in shop.enabled_payment_types %}
                              {{ type | payment_type_svg_tag: class: 'payment-list__item' }}
                            {% endfor %}
                          </div>

                          <p class="payment-list__notice">{{ 'product.general.payment_notice' | t }}</p>
                        {%- endif -%}

                        {%- if show_payment_icons and block.settings.custom_security_badge -%}
                          <hr class="card__separator">
                        {%- endif -%}

                        {%- if block.settings.custom_security_badge -%}
                          {%- if show_payment_icons -%}
                            <p class="card__subtitle heading h6">{{ 'product.general.security' | t }}</p>
                          {%- endif -%}

                          {%- assign badge_width = block.settings.custom_security_badge.width | at_most: 450 | append: 'x' -%}
                          <img class="product__trust-badge" style="width: {{ block.settings.custom_security_badge_width }}px"
                               src="{{ block.settings.custom_security_badge | img_url: badge_width }}"
                               srcset="{{ block.settings.custom_security_badge | img_url: badge_width }} 1x, {{ block.settings.custom_security_badge | img_url: badge_width, scale: 2 }} 2x"
                               alt="{{ block.settings.custom_security_badge.alt | escape }}">
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                {%- endif -%}

              {%- comment -%}
              --------------------------------------------------------------------------------------
              ESTIMATE SHIPPING
              --------------------------------------------------------------------------------------
              {%- endcomment -%}

              {%- when 'shipping_estimator' -%}
                {%- if product.available -%}
                  <div class="product-block-list__item product-block-list__item--shipping" {{ block.shopify_attributes }}>
                    <div class="card">
                      <div class="card__header">
                        <h2 class="card__title heading h3">{{ 'product.general.estimate_shipping' | t }}</h2>
                      </div>

                      <div class="card__section">
                        <div class="shipping-estimator form" role="form">
                          <div class="form__input-row">
                            <div class="form__input-wrapper">
                              <label for="shipping-estimator-country" class="form__label">{{ 'cart.shipping_estimator.country' | t }}</label>

                              <div class="select-wrapper select-wrapper--primary">
                                {%- render 'icon', icon: 'arrow-bottom' -%}

                                <select name="country" id="shipping-estimator-country" data-default="{{ customer.default_address.country | default: block.settings.shipping_estimator_default_country }}" required>
                                  {{- country_option_tags -}}
                                </select>
                              </div>
                            </div>

                            <div class="form__input-wrapper" style="display: none">
                              <label for="shipping-estimator-province" class="form__label">{{ 'cart.shipping_estimator.province' | t }}</label>

                              <div class="select-wrapper select-wrapper--primary">
                                {%- render 'icon', icon: 'arrow-bottom' -%}

                                <select name="province" id="shipping-estimator-province" data-default="{{ customer.default_address.province }}"></select>
                              </div>
                            </div>

                            <div class="form__input-wrapper" style="max-width: 155px">
                              <label for="shipping-estimator-zip" class="form__label">{{ 'cart.shipping_estimator.zip_code' | t }}</label>
                              <input type="text" name="zip" id="shipping-estimator-zip" class="form__field form__field--text" value="{{ customer.default.address.zip }}" required>
                            </div>
                          </div>

                          <button type="button" class="form__submit button button--primary" data-action="estimate-shipping">{{ 'cart.shipping_estimator.estimate' | t }}</button>

                          <div class="shipping-estimator__results rte" style="display: none;"></div>
                        </div>
                      </div>

                      {%- if block.settings.show_refunds_policy and shop.refund_policy != blank -%}
                        <div class="card__section card__section--tight">
                          <button class="product__refund-policy-link link link--accented" data-action="open-modal" aria-controls="modal-refunds-policy">{{ 'product.general.refund_policy' | t }} {%- render 'icon', icon: 'arrow-right' -%}</button>
                        </div>
                      {%- endif -%}
                    </div>

                    {%- if block.settings.show_refunds_policy and shop.refund_policy != blank -%}
                      <div id="modal-refunds-policy" class="modal" aria-hidden="true">
                        <div class="modal__dialog" role="dialog">
                          <header class="modal__header">
                            <h3 class="modal__title heading h2">{{ 'product.general.refund_policy' | t }}</h3>
                            <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
                              {%- render 'icon', icon: 'close' -%}
                            </button>
                          </header>

                          <div class="modal__content">
                            <div class="rte">
                              {{ shop.refund_policy }}
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- else -%}
    {%- comment -%}We display the quick view within the product template so we can re-use the same settings{%- endcomment -%}
    <div class="featured-product">
      {%- render 'product-gallery' -%}
      {%- render 'product-info' -%}
    </div>
  {%- endif -%}
</section>

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});

  // We save the ID of the product in the local storage, as it can be used by the "recently viewed products" section
  (() => {
    let items = JSON.parse(localStorage.getItem('recentlyViewedProducts') || '[]');

    // If the product already exists we first remove it
    if (items.includes({{product.id | json}})) {
      items.splice(items.indexOf({{ product.id | json }}), 1);
    }

    items.unshift({{ product.id | json }});

    // Then, we save the current product into the local storage, by keeping only the 18 most recent
    try {
      localStorage.setItem('recentlyViewedProducts', JSON.stringify(items.slice(0, 18)));
    } catch (error) {
      // Do nothing, this may happen in Safari in incognito mode
    }
  })();
</script>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "product_meta",
      "name": "Product meta",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "Show SKU",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_reviews_badge",
          "label": "Show product rating",
          "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_share_buttons",
          "label": "Show share buttons",
          "default": true
        }
      ]
    },
    {
      "type": "variant_selector",
      "name": "Variant selector",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variant has an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-variant-images#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant_image",
              "label": "Variant image"
            }
          ],
          "default": "color"
        },
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_taxes_included",
          "label": "Show price taxes notice",
          "default": false
        },
        {
          "type": "header",
          "content": "Inventory"
        },
        {
          "type": "paragraph",
          "content": "You can also add a stock countdown. [Learn more](https://support.maestrooo.com/article/177-product-show-an-stock-countdown-bar)."
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "Show inventory quantity",
          "default": false
        },
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "paragraph",
          "content": "This text will appear on the right part of the page."
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "This button will appear on the right part of the page."
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "store_pickup",
      "name": "Local pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "display_mode",
          "label": "Display mode",
          "options": [
            {
              "value": "collapse",
              "label": "Collapse"
            },
            {
              "value": "view_more",
              "label": "Show view more if long"
            },
            {
              "value": "show_all",
              "label": "Show all"
            }
          ],
          "default": "show_all"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Content from page",
          "info": "If specified, takes precedence over inline content."
        },
        {
          "type": "select",
          "id": "display_mode",
          "label": "Display mode",
          "options": [
            {
              "value": "collapse",
              "label": "Collapse"
            },
            {
              "value": "view_more",
              "label": "Show view more if long"
            },
            {
              "value": "show_all",
              "label": "Show all"
            }
          ],
          "default": "show_all"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid code",
          "default": "{{ product.title }}"
        },
        {
          "type": "select",
          "id": "display_mode",
          "label": "Display mode",
          "options": [
            {
              "value": "collapse",
              "label": "Collapse"
            },
            {
              "value": "view_more",
              "label": "Show view more if long"
            },
            {
              "value": "show_all",
              "label": "Show all"
            }
          ],
          "default": "show_all"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "You need to install [Shopify's free Product Reviews](https://apps.shopify.com/product-reviews) app before enabling those options."
        }
      ]
    },
    {
      "type": "shipping_estimator",
      "name": "Shipping estimator",
      "settings": [
        {
          "type": "text",
          "id": "shipping_estimator_default_country",
          "label": "Default country",
          "info": "If the customer is logged in, the country of their shipping address will be used.",
          "default": "United States"
        },
        {
          "type": "checkbox",
          "id": "show_refunds_policy",
          "label": "Show refunds policy",
          "info": "Refund policy must be added into your store policies. [Learn more](https://help.shopify.com/manual/sell-online/checkout-settings/refund-privacy-tos).",
          "default": true
        }
      ]
    },
    {
      "type": "trust",
      "name": "Trust content",
      "settings": [
        {
          "type": "text",
          "id": "trust_title",
          "label": "Heading",
          "default": "Payment & Security"
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "Show payment icons",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "custom_security_badge",
          "label": "Security badge",
          "info": "800 x 200px .jpg recommended"
        },
        {
          "type": "range",
          "id": "custom_security_badge_width",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Security badge width",
          "default": 200
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "select",
      "id": "zoom_effect",
      "label": "Desktop zoom effect",
      "options": [
        {
          "value": "inside",
          "label": "Inside"
        },
        {
          "value": "outside",
          "label": "Outside"
        }
      ],
      "default": "outside"
    },
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "fade"
    }
  ]
}
{% endschema %}