<section data-section-id="{{ section.id }}" data-section-type="account">
  <div class="container container--flush">
    <div class="page__sub-header">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
        <ol class="breadcrumb__list" role="list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li>

          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ routes.account_url }}">{{ 'general.breadcrumb.account' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li>

          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">{{ 'customer.general.orders' | t }}</span>
          </li>
        </ol>
      </nav>
    </div>

    <div class="layout">
      <div class="layout__section layout__section--secondary">
        <div class="card card--sticky hidden-pocket">
          <div class="card__section card__section--tight">
            <div class="card__linklist">
              <a href="{{ routes.account_url }}" class="card__linklist-item link text--strong">{{ 'customer.general.orders' | t }}</a>
              <a href="{{ routes.account_addresses_url }}" class="card__linklist-item link">{{ 'customer.general.addresses' | t }}</a>
              <a href="{{ routes.account_logout_url }}" class="card__linklist-item link" data-no-instant>{{ 'customer.general.logout' | t }}</a>
            </div>
          </div>
        </div>

        <div class="value-picker-wrapper hidden-tablet-and-up">
          <button class="value-picker-button value-picker-button--pill" aria-haspopup="true" aria-expanded="false" aria-controls="account-selector" data-action="open-value-picker">
            {{- 'customer.general.orders' | t -}} {%- render 'icon', icon: 'arrow-bottom' -%}
          </button>

          <div id="account-selector" class="value-picker" aria-hidden="true">
            <div class="value-picker__inner">
              <header class="value-picker__header">
                <span class="value-picker__title text--strong">{{ 'customer.general.my_account' | t }}</span>
                <button class="value-picker__close" data-action="close-value-picker" aria-controls="account-selector" aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
              </header>

              <div class="value-picker__choice-list">
                <a href="{{ routes.account_url }}" class="value-picker__choice-item is-selected">{{ 'customer.general.orders' | t }} {% render 'icon', icon: 'check-2' %}</a>
                <a href="{{ routes.account_addresses_url }}" class="value-picker__choice-item">{{ 'customer.general.addresses' | t }} {% render 'icon', icon: 'check-2' %}</a>
                <a href="{{ routes.account_logout_url }}" class="value-picker__choice-item" data-no-instant>{{ 'customer.general.logout' | t }} {% render 'icon', icon: 'check-2' %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layout__section">
        <div class="card">
          <div class="{% if customer.orders.size == 0 %}card__section card__section--tight{% else %}card__header card__header--tight{% endif %}">
            <h1 class="heading h1">{{ 'customer.general.orders' | t }} {% if customer.orders.size > 0 %}({{ customer.orders.size }}){% endif %}</h1>
          </div>

          {%- if customer.orders.size == 0 -%}
            <div class="card__section">
              <div class="empty-state empty-state--extra-tight">
                <div class="empty-state__icon">
                  {%- render 'icon', icon: 'package' -%}
                  <span class="empty-state__count">0</span>
                </div>

                <p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>

                <div class="empty-state__button-container">
                  <a href="{{ routes.all_products_collection_url }}" class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
                </div>
              </div>
            </div>
          {%- else -%}
            {%- paginate customer.orders by 8 -%}
              <div class="table-wrapper">
                <table class="table table--loose">
                  <thead>
                    <tr>
                      <th>{{ 'customer.order.order' | t }}</th>
                      <th>{{ 'customer.order.date' | t }}</th>
                      <th>{{ 'customer.order.payment_status' | t }}</th>
                      <th>{{ 'customer.order.fulfillment_status' | t }}</th>
                      <th class="table__cell--right">{{ 'customer.order.total' | t }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    {%- for order in customer.orders -%}
                      <tr>
                        <td><a href="{{ order.customer_url }}" class="link link--accented">{{ order.name }}</a></td>
                        <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                        <td>{{ order.financial_status_label }}</td>
                        <td>{{ order.fulfillment_status_label }}</td>
                        <td class="table__cell--right">{{ order.total_price | money }}</td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>

              {%- render 'pagination', paginate: paginate -%}
            {%- endpaginate -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Account"
}
{% endschema %}