{%- assign use_recommendations = true -%}

{%- for block in section.blocks -%}
  {%- if block.settings.product != blank -%}
    {%- assign use_recommendations = false -%}
  {%- endif -%}
{%- endfor -%}

{%- capture section_settings -%}
{
  "stackable": false,
  "layout": "vertical",
  "productId": {{ product.id | json }},
  "useRecommendations": {{ use_recommendations | json }},
  "recommendationsCount": 10
}
{%- endcapture -%}

<section class="section" data-section-id="{{ section.id }}" data-section-type="product-recommendations" data-section-settings='{{ section_settings }}'>
  <div class="container">
    {%- if section.settings.heading != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3">{{ section.settings.heading | escape }}</h2>
      </header>
    {%- endif -%}

    <div class="product-recommendations">
      {%- if recommendations.performed or use_recommendations == false -%}
        <div class="scroller">
          <div class="scroller__inner">
            <div class="product-list product-list--vertical product-list--scrollable">
              {%- comment -%}
              If the merchant is explicitly using SuperFields, we use the hand-picked related products, otherwise we
              switch to the Shopify automatic recommendation
              {%- endcomment -%}

              {%- if use_recommendations -%}
                {%- for product in recommendations.products -%}
                  {%- render 'product-item', product: product, grid_classes: '1/4--lap 1/5--desk 1/6--wide', show_add_to_cart: section.settings.show_quick_buy -%}
                {%- else -%}
                  {%- comment -%}Hide the section if there is no recommendations to show{%- endcomment -%}
                  <style>
                    #shopify-section-{{ section.id }} {
                      display: none;
                    }
                  </style>
                {%- endfor -%}
              {%- else -%}
                {%- for block in section.blocks -%}
                  {%- if block.settings.product != blank -%}
                    {%- render 'product-item', product: block.settings.product, grid_classes: '1/4--lap 1/5--desk 1/6--wide', show_add_to_cart: section.settings.show_quick_buy -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>

      <div class="modal__loader">
        {%- render 'icon', icon: 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product recommendations",
  "templates": ["product"],
  "max_blocks": 6,
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations change and improve with time. Create manual product recommendations using the Shopify Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "checkbox",
      "id": "show_quick_buy",
      "label": "Show quick buy",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "paragraph",
          "content": "Dynamic recommendations are not shown if products are explicitly selected."
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}