<section class="section" data-section-id="{{ section.id }}" data-section-type="promo-block">
  <div class="container">
    {%- capture block_list -%}
      <div class="block-list">
        {%- for block in section.blocks -%}
          <div id="block-{{ block.id }}" class="block-list__item {% if section.settings.expand_items %}block-list__item--grow{% endif %} 1/2--tablet-and-up 1/3--desk" {{ block.shopify_attributes }}>
            {%- capture block_content -%}
              {%- if block.settings.image -%}
                {%- if block.settings.stretch_image -%}
                  {%- capture bgset -%}{{ block.settings.image | img_url: '600x' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w{%- endcapture -%}
                {%- else -%}
                  {%- capture bgset -%}{{ block.settings.image | img_url: 'x480' }} [--phone] | {{ block.settings.image | img_url: 'x800' }}{%- endcapture -%}
                {%- endif -%}

                <div class="promo-block__image-clip">
                  <div class="promo-block__image-wrapper {% if block.settings.stretch_image %}promo-block__image-wrapper--cover{% endif %} lazyload image--fade-in" data-bgset="{{ bgset }}"></div>
                </div>
              {%- endif -%}

              <div class="promo-block__inner">
                {%- if block.settings.title != blank -%}
                  <p class="promo-block__heading heading h3">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="promo-block__content">{{ block.settings.content }}</div>
                {%- endif -%}

                {%- if block.settings.button_text != blank -%}
                  {%- if block.settings.content contains '<a' -%}
                    <a href="{{ block.settings.button_link }}" class="promo-block__cta button button--floating">{{ block.settings.button_text | escape }}</a>
                  {%- else -%}
                    <span class="promo-block__cta button button--floating">{{ block.settings.button_text | escape }}</span>
                  {%- endif -%}
                {%- endif -%}
              </div>

              <style>
                #block-{{ block.id }} .promo-block {
                  background-color: {{ block.settings.background }};
                  color: {{ block.settings.text_color }}
                }

                #block-{{ block.id }} .button {
                  background: {{ block.settings.button_background }};
                  color: {{ block.settings.button_text_color }};
                }

                {%- if block.settings.show_overlay -%}
                  #block-{{ block.id }} .promo-block--overlay::before {
                    {%- assign overlay_opacity = block.settings.overlay_opacity | divided_by: 100.0 -%}
                    background: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, {{ '#000000' | color_modify: 'alpha', overlay_opacity }});
                  }
                {%- endif -%}
              </style>

              {%- if block.settings.image -%}
                <noscript>
                  <style>
                    #block-{{ block.id }} .promo-block__image-wrapper {
                      background-image: url({% if block.settings.stretch_image %}{{ block.settings.image | img_url: '800x' }}{% else %}{{ block.settings.image | img_url: 'x400' }}{% endif %});
                    }
                  </style>
                </noscript>
              {%- endif -%}
            {%- endcapture -%}

            {%- if block.settings.button_link == blank or block.settings.content contains '<a' -%}
              <div class="promo-block promo-block--{{ block.settings.content_position | replace: '_', '-' }} {% if block.settings.show_overlay %}promo-block--overlay{% endif %} promo-block--{{ section.settings.section_size }}">
                {{- block_content -}}
              </div>
            {%- else -%}
              <a href="{{ block.settings.button_link }}" class="promo-block promo-block--{{ block.settings.content_position | replace: '_', '-' }} {% if block.settings.show_overlay %}promo-block--overlay{% endif %} promo-block--{{ section.settings.section_size }}">
                {{- block_content -}}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endcapture -%}

    {%- if section.settings.stack_mobile -%}
      {{ block_list }}
    {%- else -%}
      <div class="scroller">
        <div class="scroller__inner">
          {{ block_list }}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Promotion blocks",
  "settings": [
    {
      "type": "checkbox",
      "id": "expand_items",
      "label": "Expand blocks to fill row",
      "default": false
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "Block height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "stack_mobile",
      "label": "Stack on mobile",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800 x 800px .png with transparency recommended"
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show overlay",
          "info": "Increase text readability on busy images.",
          "default": false
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "stretch_image",
          "label": "Stretch image (1000 x 500px .jpg recommended)",
          "default": false
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Tell more about your product, collection...</p>"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "top_left"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Promotion blocks",
      "settings": {},
      "blocks": [
        {
          "type": "item",
          "settings": {
            "background": "#6f42ef",
            "text_color": "#ffffff",
            "button_background": "#ffffff",
            "button_text_color": "#6f42ef"
          }
        },
        {
          "type": "item",
          "settings": {
            "background": "#fc2a68",
            "text_color": "#ffffff",
            "button_background": "#ffffff",
            "button_text_color": "#fc2a68"
          }
        },
        {
          "type": "item",
          "settings": {
            "background": "#26c1ce",
            "text_color": "#ffffff",
            "button_background": "#ffffff",
            "button_text_color": "#26c1ce"
          }
        }
      ]
    }
  ]
}
{% endschema %}